{% extends "base.html" %}

{% block title %}Beranda - Aplikasi Data PIDUM & PIDSUS{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4><i class="fas fa-home"></i> Selamat Datang di Aplikasi Data PIDUM & PIDSUS</h4>
            </div>
            <div class="card-body">
                <p class="lead">Aplikasi ini dirancang untuk mengelola data perkara PIDUM (Pidana Umum) dan PIDSUS (Pidana Khusus) dengan fitur lengkap:</p>
                
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5><i class="fas fa-gavel"></i> Data PIDUM</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-check text-success"></i> Input data perkara pidana umum</li>
                                    <li><i class="fas fa-check text-success"></i> Lihat data dalam tabel</li>
                                    <li><i class="fas fa-check text-success"></i> Export ke Excel</li>
                                    <li><i class="fas fa-check text-success"></i> Tampilkan grafik analisis</li>
                                </ul>
                                <a href="{{ url_for('input_pidum') }}" class="btn btn-primary">
                                    <i class="fas fa-plus"></i> Input Data PIDUM
                                </a>
                                <a href="{{ url_for('view_pidum') }}" class="btn btn-outline-primary">
                                    <i class="fas fa-eye"></i> Lihat Data PIDUM
                                </a>
                                <a href="{{ url_for('laporan_pidum') }}" class="btn btn-outline-success">
                                    <i class="fas fa-chart-bar"></i> Laporan PIDUM
                                </a>
                                <a href="{{ url_for('laporan_pidum_new') }}" class="btn btn-outline-warning">
                                    <i class="fas fa-chart-line"></i> Laporan Baru
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5><i class="fas fa-gavel"></i> Data PIDSUS</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-check text-success"></i> Input data perkara pidana khusus</li>
                                    <li><i class="fas fa-check text-success"></i> Lihat data dalam tabel</li>
                                    <li><i class="fas fa-check text-success"></i> Export ke Excel</li>
                                    <li><i class="fas fa-check text-success"></i> Tampilkan grafik analisis</li>
                                </ul>
                                <a href="{{ url_for('input_pidsus') }}" class="btn btn-primary">
                                    <i class="fas fa-plus"></i> Input Data PIDSUS
                                </a>
                                <a href="{{ url_for('view_pidsus') }}" class="btn btn-outline-primary">
                                    <i class="fas fa-eye"></i> Lihat Data PIDSUS
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="text-center">
                            <p class="text-muted">© 2025 Aplikasi Data PIDUM & PIDSUS. All rights reserved <a href="https://teknowiz.web.id" target="_blank">TeknoWiz Indonesia</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}